#container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

#screen {
    border: 1px solid black;
    background: white;
    color: black;
    margin: 5px 2px;
    min-height: 50px;
    padding: 5px;
    text-align: end;
    font-size: 3em;
}

.button {
    margin: 2px;
    min-height: 50px;
}

.btn-other {
    flex: 1 0 calc(100% / 2 - 4px);
    background-color: rgb(207, 115, 115);
}

#numbers-ope {
    display: flex;
}

#btn-numbers {
    display: flex;
    flex-flow: row-reverse wrap;
    flex: 1 0 calc(100% / 4 *3 - 6px);
}

.btn-number {
    flex: 1 0 calc(100% /3 - 4px);
    background-color: bisque;
}

#btn-operators {
    display: flex;
    flex: 1 0 calc(100% / 4 *1 - 2px);
    flex-direction: column;
}

.btn-operator {
    background-color: rgb(170, 139, 86);
}

#btn-others {
    display: flex;
}

.btn-equal {
    flex: 1 0 calc(100% /3 *2 - 4px);
    background-color: burlywood;
}